* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comfortaa', cursive;
}

/*HEADER*/

header {
    display: flex;
    background-color: #ff914d;
    color: white;
    padding: 0 20;
    justify-content: space-between;
    height: 15vh;
    position: sticky;
    padding: 1vw;
}

.icone4bank {
    width: 150px;
}

.opcoes-header {
    display: flex;
    align-items: center;
}

.opcoes-header > h2 {
    margin: 0 2vw;
}

.area-login {
    display: flex;
    align-items: center;
}

.area-login > h2 {
    padding: 3vw;
}

.icone-login {
    height: 30px;
    width: 30px;
    margin-right: 5vw;
}

/*MAIN*/


/*FOOTER*/

footer {
    display: flex;
    background-color: #ff914d;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1.5vw;
}

.footer-coluna-esq {
    display: flex;
    align-items: center;
    color: white;
}

.coluna-links-footer {
    display: grid;
    grid-template-columns: 1fr;
}

.coluna-links-footer > p {
    margin: 0.5vh 0;
}

.footer-coluna-dir > p {
    padding: 1vh 0;
}
