* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comfortaa', cursive;
}

/*HEADER*/

header {
    display: flex;
    background-color: #ff914d;
    color: white;
    padding: 0 20;
    justify-content: space-between;
    height: 15vh;
    position: sticky;
    padding: 1vw;
}

.icone4bank {
    width: 13vh;
}

.opcoes-header {
    display: flex;
    align-items: center;
}

.opcoes-header > h2 {
    margin: 0 2vw;
}

.area-login {
    display: flex;
    align-items: center;
}

.area-login > h2 {
    padding: 3vw;
    margin-top: 0;
}

.icone-login {
    height: 30px;
    width: 30px;
    margin-right: 5vw;
}

/*MAIN 1*/

.main-pagina1 {
    background-image: url(./anexos/fundo_main1.jpeg);
    background-size: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15vw;
    text-align: center;
    align-items: center;
}

.texto-main1 {
    margin-left: 11vw;
    margin: 25vh 0;
    text-align: left;
    color: #ff914d;
    margin-left: 10vh;
}

.texto-main1 > h1,h2 {
    margin-top: 10vh;
}

.formulario {
    background-color: #ffbd59;
    width: 20vw;
    height: 60vh;
    text-align: center;
    padding: 2vw;
    color: white;
    border-radius: 20px;
}

input {
    margin-top: 10vh;
    height: 4vh;
    width: 15vw;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-family: 'Comfortaa', cursive;
}

button {
    height: 6vh;
    width: 15vw;
    margin-top: 5vh;
    border-radius: 10px;
    color: #ffbd59;
    font-family: 'Comfortaa', cursive;
    border: none;
}

/*MAIN 2 e 3*/

.main-pagina2, .main-pagina3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    gap: 15vw;
    text-align: center;
    align-items: center;
}

.main-pagina2 > img {
    width: 90%;
    margin-right: 50vw;
}

.texto-main2, .texto-main3 {
    margin-left: 11vw;
    margin: 20vh 0;
    text-align: left;
    color: #ff914d;
    margin-left: 10vh;
    line-height: 5vh;
}

.texto-main2 > h2, p {
    margin-top: 10vh;
}


.main-pagina3 > img {
    width: 70%;
}

.texto-main3 > h3, p {
    margin-top: 5vh;
}

a {
    text-decoration: none;
    color: #ff914d;
}

a:hover {
    font-weight: 800;
}

/*FOOTER*/

footer {
    display: flex;
    background-color: #ff914d;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1.5vw;
}

.footer-coluna-esq {
    display: flex;
    align-items: center;
    color: white;
}

.coluna-links-footer {
    display: grid;
    grid-template-columns: 1fr;
}

.coluna-links-footer > p {
    margin: 0.5vh 0;
}

.footer-coluna-dir > p {
    padding: 1vh 0;
}
