* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comfortaa', cursive;
}

/*Laranja Principal:
HEX : #ff914d
RGB : 255, 145, 77
HSL  : 22, 100%, 65%*/

/*Laranja Secundário

HEX : #ffbd59
RGB : 255, 189, 89
HSL  : 36, 100%, 67%*/



